section.blog
	.container
		.row
			.col-md-6
				.blog_left
					.blog_head
						h4 Новости
						a(href="blog-html") Увидеть все
					.blog_main
						mixin blogblock(pic, name, text, day, month)
							a(href="article.html").blog_block
								.blog_img(style='background-image: url(' + require('./components/images/' + pic) + ')')
								h5.blog_name.blog_name--left= name
								p.blog_text.blog_text--left= text
								.blog_data.blog_data--left
									span= day
									span= month
						+blogblock('blog-7.jpg', 'Консультация с широким активом', 'Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.', '11', 'янв')
			.col-md-6
				.blog_right
					.blog_head
						h4 Последнее из Блога
						a(href="blog.html") Увидеть все
					.blog_main
						mixin blogbox(data, name, text)
							a(href="article.html").blog_box
								.blog_data.blog_data--right= data
								h5.blog_name.blog_name--right= name
								p.blog_text.blog_text--right= text
						+blogbox('11 ЯНВАРЯ 2018', 'Консультация с широким активом', 'Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль.')
						+blogbox('11 ЯНВАРЯ 2018', 'Консультация с широким активом', 'Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль.')
						+blogbox('11 ЯНВАРЯ 2018', 'Консультация с широким активом', 'Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль.')