section.new
	.container
		.new_left
			h6 Новые
				br
				| товары
			p.
				С другой стороны консультация с широким активом позволяет выполнять важные задания
		.new_right
			.slider.slick-new
				mixin sliderbox(pic, name, code, mark, weight, cost)
					div
						a(href="product-pg.html").slick-new_box
							.slick-new_img
								img(src=require("./components/images/" + pic), alt="photo")
							.slick-new_name
								h6= name
							.slick-new_char
								.slick-new_code Код:
									span= code
								.slick-new_mark Артикул: 
									span= mark
								.slick-new_weight Вес: 
									span= weight
							.slick-new_cost
								p= cost
							.slick-new_sale
								p Опт 1:
									span 373 руб.
								p Опт 1:
									span 373 руб.
							object
								a(href="#").btn.main-btn В корзину
				+sliderbox('pic-1.png', 'Колодка тормозная', '6793-3903-34', '43253-2402011-40', '20 кг', '444 руб.')
				+sliderbox('pic-2.png', 'Колодка Тормозная', '6793-3903-34', '43253-2402011-40', '20 кг', '444 руб.')
				+sliderbox('pic-3.png', 'Колодка Тормозная', '6793-3903-34', '43253-2402011-40', '20 кг', '444 руб.')
				+sliderbox('pic-1.png', 'Колодка Тормозная', '6793-3903-34', '43253-2402011-40', '20 кг', '444 руб.')