extends ./templates/base

block title
	title Blog

block main
	.wrapper.wrapper--blog-pg
		include ./templates/header
		section.breadcrumb
			.container
				.breadcrumb_block
					ul.clearfix
						li
							a(href='./') Главная
						li.
							Блог
		section.blog-pg_block
			.container
				.row
					mixin blogbox(day, month, img, data, name, text)
						.col-md-6
							a(href="article.html").blog-pg_box
								.blog-pg_data
									span.blog-pg_data_day= day
									span.blog-pg_data_month= month
								.blog-pg_img(style='background-image: url(' + require('./components/images/' + img) + ')')
									.blog-pg_inner
										p Подробнее
								.blog-pg_info
									.blog-pg_info_data= data
									h5= name
									p= text
									object
										a(href="#") Читать еще
					+blogbox('05', 'фев', 'blog-1.jpg', '05.06/18', 'Интересный эксперимент проверки модели развития.', 'Общество с ограниченной ответственностью "организация. Нашим профилем является оптовая торговля запасными частями, снабжение автотранспортных предприятий, розничных магазинов и оптовых фирм деталями для отечественной...')
					+blogbox('05', 'фев', 'blog-2.jpg', '05.06/18', 'Сфера нашей активности', 'Общество с ограниченной ответственностью "организация. Нашим профилем является оптовая торговля запасными частями, снабжение автотранспортных предприятий, розничных магазинов и оптовых фирм деталями для отечественной...')
					+blogbox('05', 'фев', 'blog-1.jpg', '05.06/18', 'Интересный эксперимент проверки модели развития.', 'Общество с ограниченной ответственностью "организация. Нашим профилем является оптовая торговля запасными частями, снабжение автотранспортных предприятий, розничных магазинов и оптовых фирм деталями для отечественной...')
					+blogbox('05', 'фев', 'blog-2.jpg', '05.06/18', 'Сфера нашей активности', 'Общество с ограниченной ответственностью "организация. Нашим профилем является оптовая торговля запасными частями, снабжение автотранспортных предприятий, розничных магазинов и оптовых фирм деталями для отечественной...')
					+blogbox('05', 'фев', 'blog-1.jpg', '05.06/18', 'Интересный эксперимент проверки модели развития.', 'Общество с ограниченной ответственностью "организация. Нашим профилем является оптовая торговля запасными частями, снабжение автотранспортных предприятий, розничных магазинов и оптовых фирм деталями для отечественной...')
					+blogbox('05', 'фев', 'blog-2.jpg', '05.06/18', 'Сфера нашей активности', 'Общество с ограниченной ответственностью "организация. Нашим профилем является оптовая торговля запасными частями, снабжение автотранспортных предприятий, розничных магазинов и оптовых фирм деталями для отечественной...')
			.blog-pg_pagination
				.container
					.pagination-block
						.pagination.loop-pagination
							a.prev.page-numbers(href='#') Назад
								i.arrow.left
							.page-numbers-wrapper
								a.page-numbers(href='#') 1
								span.page-numbers.current 2
								a.page-numbers(href='#') 3
								span.page-numbers.dots …
								a.page-numbers(href='#') 10
							a.next.page-numbers(href='#') Следующая
								i.arrow.right
		include ./templates/join-us
		include ./templates/footer

